/*CSS for Header*/
header{
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  border: 1px white;
  background-color: rgba(0, 247, 255, 0.116);
  height: 20%;
}
/*CSS for Header Link*/
a{
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  padding: 1px;
  border: 1px ;
  color: darkgreen;
  padding: 1px 6px;
  font-style: italic;
}
#home:hover{
  background-color: rgb(171, 241, 218);
  border: 3px;
  
}
#explore:hover{
  background-color: rgb(171, 241, 218);
  border: 3px;
}
#about:hover{
  background-color: rgb(171, 241, 218);
  border: 3px;
}
#contact:hover{
  background-color: rgb(171, 241, 218);
  border: 3px;
}
/*CSS for Body*/
#b{
   background-color: aquamarine;
   color: darkgreen;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
  }
  /*CSS for Heading*/
h1{
   font-size: 450%;  
   color: darkgreen;
   text-decoration: overline;
   border: 1px;
   box-shadow: 0 7px 13px rgba(0, 0, 0, 0.3);
   border-radius: 3cqi;
   background-color: rgb(79, 250, 193);
   padding: 10px;
   width: 60%;
   margin: 1% auto;
  }
  /*CSS for the Input Part*/
form{
     font-size: 150%;
     border: 3px;
     padding: 20px;
     width:20%;
     margin: 1% auto;
     border-radius: 3cqi;
     background-color:rgb(79, 250, 193);
     box-shadow: 0 9px 17px rgba(0, 0, 0, 0.3);
    }
    /*CSS for the Button*/
button{
       font-size: 58%;
       color: darkgreen;
      }
      button:hover{
        background-color: rgb(66, 255, 192);
      }
      /*CSS for the Input Boxes*/
#d1,#d2,.d3,.d4{
                 font-family: 'Courier New', Courier, monospace;
                 font-size: 75%;
                 border-radius: 30px;
                 border-color: rgb(79, 250, 193);
                 color: darkgreen;
                 background-color: rgb(171, 241, 218);
                 box-shadow: 0 2px 4px;
                }
                /*CSS for the Saving Task Box*/
p{
   padding:20px;
   border: 3px;
   border-radius: 100cqi;
   background-color: rgb(79, 250, 193);
   box-shadow: 0 9px 17px rgba(0, 0, 0, 0.3);
   width: 20%;
   margin: 1% auto;
  }